<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDm44wq6_-d0sIE1Vtw2_57DnRQCzDUEog</string>
	<key>GCM_SENDER_ID</key>
	<string>117138485718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.gdcsavio</string>
	<key>PROJECT_ID</key>
	<string>classproject-53b90</string>
	<key>STORAGE_BUCKET</key>
	<string>classproject-53b90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117138485718:ios:ce6e608fcf530f1a3ef477</string>
</dict>
</plist>